@page
@model treinamento.Pages.Clients.IntexModel
@{
    ViewData["Title"] = "Clientes";
}

<h1>Lista de Clientes</h1>

<a class="btn btn-primary btn-sm" a href="clients/create">Novo Cliente</a>
<table class="table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>TELEFONE</th>
            <th>EMAIL</th>
            <th>ENDEREÇO</th>
            <th>CRIADO EM</th>
            <th>AÇÃO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listClients)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.name</td>
                <td>@item.phone</td>
                <td>@item.email</td>
                <td>@item.adress</td>
                <td>@item.create_at</td>
                <td>
                    <a class="btn btn-primary btn-sm" a href="clients/edit?id=@item.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" a href="clients/delete?id=@item.Id">Del</a>
                </td>
            </tr>
        }
    </tbody>
</table>
